@typeparam TItem
<th>
    @if (AllowSort)
    {
        <a @onclick="OnSortChange" style="cursor: pointer; width: 100%; display: inline-block;">
            @Display
            <span style="margin-left: 5px;">
                @if (EzyGrid.EzyGridModel.SortField == SortField)
                {
                    if (SortDirection == "desc")
                    {
                        <text>&#21C2;</text>
                    }
                    else if (SortDirection == "asc")
                    {
                        <text>&#21BE;</text>
                    }
                }
            </span>
        </a>
    }
    else
    {
        @Display
    }
</th>

@code {

    [CascadingParameter] public EzyGridBase<TItem> EzyGrid { get; set; }

    [Parameter] public string Display { get; set; }
    [Parameter] public bool AllowSort { get; set; } = true;
    [Parameter] public string SortDirection { get; set; }
    [Parameter] public string SortField { get; set; }

    public string SortDirectionSelected { get; set; } = "asc";

    public async Task OnSortChange()
    {
        ChangeSortDirection();

        EzyGrid.EzyGridModel.SortDirection = SortDirection;
        EzyGrid.EzyGridModel.SortField = SortField;
        EzyGrid.EzyGridModel.ResetCurrentPage();

        await EzyGrid.OnChange.InvokeAsync(EzyGrid.EzyGridModel);
    }

    void ChangeSortDirection()
    {
        if (SortDirection == "asc" || string.IsNullOrEmpty(SortDirection))
            SortDirection = "desc";
        else
            SortDirection = "asc";
    }
}
